:root {
  --color-primary: #e64c3c;
  --color-accent: #040404;

  --white: #ffffff;
}

@custom-media --xxsmall (width <= 320px);
@custom-media --xsmall (width <= 480px);
@custom-media --small (width > 480px);
@custom-media --medium (width > 768px);
@custom-media --large (width > 960px);
@custom-media --xlarge (width > 1200px);
@custom-media --xxlarge (width > 1600px);
