{
  "extends": "stylelint-config-recommended",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/order": [
      "custom-properties",
      "declarations",
      "at-rules",
      "rules"
    ],
    "order/properties-alphabetical-order": true,
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": [
        "global"
      ]
    }]
  }
}
